/**
 * Custom JS Script
 */

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: slategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
a[rel] {
  display: none;
}