/* LETTERS
________________________________________________________ */
#wpsp-2277 {
  display: flex;
  flex-direction: column!important;
}
.wp-show-posts-single.post {
  margin-top: 20px;
}
.wp-show-posts-inner {
  position: relative;
  transition: all .2s ease-in-out;
}
.wp-show-posts-inner time {
  display: none;
}
.wp-show-posts-entry-header h2 {
  font-size: 1.5rem!important;
}
.wp-show-posts-columns#wpsp-2277 .wp-show-posts-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wp-show-posts-inner:hover::before {
  background-color: #ebe4de;
  transform: translateY(4px);
}
.wp-show-posts-inner:hover {
  background-color: #ebe4de;
}
.wp-show-posts-entry-title {
  transition: opacity .1s ease-in-out;
}
.wp-show-posts-entry-title:hover {
  opacity: .5;
}
h2.wp-show-posts-entry-title::before {
  content: '▪';
  height: 10px;
  width: 10px;
  color: rgb(196, 192, 192);
  margin-right: 8px;
}
.wp-show-posts a {
  color: #1E1A19;
}
.nav-links {
  display: none!important;
}
.wpsp-read-more {
  display: none;
}